@import "./../../src/colors.scss";
@import "./../../src/variables.scss";

.SearchFilters {
  z-index: 10;
  top: 56px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  padding: 0 $spacing-small;
  background-color: #fff;
  color: #000;
  position: fixed;

  @media (max-width: 768px) {
    justify-content: flex-end;

    .Dropdown_label {
      margin-right: 0;
      max-width: 80px;
      white-space: nowrap;
    }

    .SearchFilters_text {
      display: none;
    }
  }

  &_settings {
    margin: 0;
  }

  .Dropdown {
    margin-left: $spacing-base;
  }

  .SocialShare {
    .Dropdown_label {
      margin-right: 0;
    }
  }

  &_filterContainer {
    display: flex;
    align-items: center;
  }

  &_filters {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      padding-left: 0;
    }
  }

  &_meta {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      display: none;
    }

    p {
      margin: 0;
    }

    svg {
      width: 18px;
      color: $text-muted;
      margin-left: $spacing-small;
    }    
  }
}

.experimental {

  .SearchFilters {
    top: 108px;
    background-color: #fdfdfd;
    height: 80px;
    color: #9d9d9d;
    border-bottom: 1px solid #eee;

    @media (max-width: 768px) {
      top: 58px;
      height: 44px;
      justify-content: flex-end;
    }

    @media (min-width: 769px) {
      padding-left: 200px;
    }

    &_meta {
      padding-right: $spacing-small;
    }

    &_filters {
      padding-left: $spacing-medium;
    }

    &_settings {
      padding-left: $spacing-medium;
      margin: 0;
    }
  }
}