@import "./../../src/colors.scss";
@import "./../../src/variables.scss";

.SearchFilters {
  z-index: 10;
  top: 56px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  padding: 0 $spacing-small;
  background-color: #fff;
  color: #000;
  position: fixed;

  @media (max-width: 768px) {
    .Dropdown_label {
      margin-right: 0;
    }

    .SearchFilters_text {
      display: none;
    }
  }

  &_engineProcessingTime {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &_settings {
    margin: 0;
  }

  &_menuButton {
    display: none;
    border: solid 1px #c3c3c3;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    padding: $spacing-base;
    width: 24px;
    height: 24px;
    color: #c3c3c3;
    background-color: #fff;

    @media (max-width: 768px){
      display: initial;
    }
  }

  &_menu {
    position: fixed;
    top: 99px;
    width: 100%;
    z-index: 20;
    background-color: #fff;
    box-shadow: 0 5px 15px -5px rgba(37, 44, 97, 0.15), 0 2px 15px -13px rgba(93, 100, 148, 0.2);

    li {
      &:last-child {
        margin-bottom: $spacing-small;
      }
  
      a {
        color: #5c5c5c;
        display: block;
        padding: $spacing-small $spacing-large;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
  
        
        &:hover {
          background-color: rgba(#e4e3e5, .4);
        }
  
        &.active {
          background-color: #e4e3e5
        }
  
        svg {
          width: 16px;
          height: 16px;
          transform: translate(0, 2px);
          margin-right: $spacing-small;
        }
      }
    }
  
    ul{
      margin-bottom: $spacing-small;
  
      &:not(:last-child) {
        border-bottom: 1px solid #eee;
      }
    }
  }

  .Dropdown {
    margin-left: $spacing-base;
  }

  .SocialShare {
    .Dropdown_label {
      margin-right: 0;
    }
  }

  &_filterContainer {
    display: flex;
    align-items: center;
  }

  &_filters {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      padding-left: 0;
    }
  }

  &_meta {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      display: none;
    }

    p {
      margin: 0;
    }

    svg {
      width: 18px;
      color: $text-muted;
      margin-left: $spacing-small;
    }    
  }
}

.experimental {
  .SearchFilters {
    top: 90px;
    height: 80px;
    color: #9d9d9d;

    @media (max-width: 768px) {
      top: 58px;
      height: 44px;
    }

    @media (min-width: 769px) {
      padding-left: 254px;
      padding-right: 24px;
    }

    &_text {
      margin: 0 8px;
    }

    &_filters {
      padding-left: $spacing-small;
    }

    &_settings {
      padding-left: $spacing-medium;
      margin: 0;
    }
  }
}

.experimental {
  .SearchFilters-Cool,
  .SearchFilters-HN,
  .SearchFilters-Help,
  .SearchFilters-About {
    padding-left: 24px;
    .SearchFilters_settings {
      padding-left: 0;
    }
  }
  &.dark {
    .SearchFilters {
      background-color: $dark-background;
      color: $dark-text-dark-small;

      &_engineProcessingTime {
        color: rgba(#fff, .8)
      }
    }
  }

  &.light {
    .SearchFilters { 
      background-color: $light-background;
      color: $light-text-dark-small;

      &_engineProcessingTime {
        color: rgba(#21243d, .5);
      }
    }
  }
}