@import "./../../src/variables.scss";
@import "./../../src/colors.scss";

.Sidebar {
  background-color: #f8f8f8;
  position: fixed;
  top: 0;
  height: 100%;
  padding-top: 128px;
  z-index: 10;
  overflow: auto;

  @media (max-width: 768px) {
    display: none
  }

  li {
    width: 200px;
    
    &:last-child {
      margin-bottom: $spacing-small;
    }

    a {
      color: #5c5c5c;
      display: block;
      padding: $spacing-small $spacing-large;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &.active {
        background-color: #e4e3e5
      }

      svg {
        width: 16px;
        height: 16px;
        transform: translate(0, 2px);
        margin-right: $spacing-small;
      }
    }
  }

  ul{
    margin-bottom: $spacing-small;

    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
  }
}