.SearchResults {
  position: relative;
  padding: 100px 0 0 0;
  background: #f6f6ef;
}

.experimental {
  .SearchResults {
    min-height: calc(100vh - 120px);
    background-color: #fff;
    padding-top: 178px;

    @media (min-width: 769px) {
      padding-left: 254px;
    }

    @media (max-width: 768px) {
      padding-top: 100px;
    }

    &_container {
      border-radius: 4px;
    }
  }
}

.experimental {
  &.light {
    .SearchResults {
      background-color: transparent;
    }
  }
}