@import "./../../src/variables.scss";

.SearchResults {
  position: relative;
  background: #f6f6ef;
  min-height: calc(100vh - 120px);
}

.experimental {
  .SearchResults {
    min-height: calc(100vh - 120px);
    background-color: transparent;
    padding: 100px 0 0 0;
    padding-top: 178px;
    
    @media (min-width: 769px) {
      padding-left: 254px;
      padding-right: 24px;
    }

    @media (max-width: 768px) {
      padding-top: 100px;
    }

    &_container {
      border-radius: 4px;
    }
  }
}
