<aside class='sidebar'>
<ul>
<li>
<a active-link href='/' ng-click='gotoMenu($event, &quot;/&quot;)'>
<i class='icon-news'></i>
All
</a>
</li>
<li>
<a active-link href='/hot' ng-click='gotoMenu($event, &quot;/hot&quot;)'>
<i class='icon-fire'></i>
Hot
</a>
</li>
<li>
<a active-link href='/show-hn' ng-click='gotoMenu($event, &quot;/show-hn&quot;)'>
<i class='icon-megaphone'></i>
Show HN
</a>
</li>
<li>
<a active-link href='/ask-hn' ng-click='gotoMenu($event, &quot;/ask-hn&quot;)'>
<i class='icon-bubble'></i>
Ask HN
</a>
</li>
<li>
<a active-link href='/polls' ng-click='gotoMenu($event, &quot;/polls&quot;)'>
<i class='icon-bulb'></i>
Polls
</a>
</li>
<li>
<a active-link href='/jobs' ng-click='gotoMenu($event, &quot;/jobs&quot;)'>
<i class='icon-banknote'></i>
Jobs
</a>
</li>
<li class='divider'></li>
<li ng-if='settings.login'>
<a active-link href='/user' ng-click='gotoMenu($event, &quot;/user&quot;)'>
<i class='icon-user'></i>
{{ settings.login }}
</a>
</li>
<li>
<a active-link href='/starred' ng-click='gotoMenu($event, &quot;/starred&quot;)'>
<i class='icon-star'></i>
Starred
</a>
</li>
</ul>
</aside>
<div class='sliding-menu-fade-screen' ng-click='toggleNav()'></div>
