@import "./../../src/variables.scss";

.Footer {
  padding-top: $spacing-small;

  &_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;

    li {
      padding: 4px;
      font-size: 12px;
      
      &:last-child {
        display: none;
      }
    }

    a { 
      color: #000;
    }
  }
}

.experimental {
  .Footer {
    @media (min-width: 769px){
      padding-left: 200px;
    }

    li, a {
      color: #9d9d9d;
    }
  }
}