@import "./../../src/variables.scss";

.Footer {
  padding-top: $spacing-small;

  &_list {
    display: flex;
    justify-content: center;
    list-style-type: none;

    li {
      padding: 4px;
    }
  }
}

.experimental {
  .Footer {
    padding-left: 200px;

    li, a {
      color: #9d9d9d;
    }
  }
}