@font-face {
  font-family: 'icomoon';
  src:url('/assets/icomoon.eot?oyniom');
  src:url('/assets/icomoon.eot?#iefixoyniom') format('embedded-opentype'),
    url('/assets/icomoon.woff?oyniom') format('woff'),
    url('/assets/icomoon.ttf?oyniom') format('truetype'),
    url('/assets/icomoon.svg?oyniom#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
  content: "\f003";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-github:before {
  content: "\f09b";
}

.icon-google-plus:before {
  content: "\f0d5";
}

.icon-hacker-news:before {
  content: "\f1d4";
}

.icon-delete:before {
  content: "\e602";
}

.icon-link:before {
  content: "\e005";
}

.icon-clock:before {
  content: "\e014";
}

.icon-heart:before {
  content: "\e024";
}

.icon-layers:before {
  content: "\e031";
}

.icon-search:before {
  content: "\e036";
}

.icon-circle-cross:before {
  content: "\e043";
}

.icon-rewind:before {
  content: "\e051";
}

.icon-fast-forward:before {
  content: "\e055";
}

.icon-repeat:before {
  content: "\e058";
}

.icon-head:before {
  content: "\e074";
}

.icon-speech-bubble:before {
  content: "\e076";
}

.icon-share:before {
  content: "\e081";
}

.icon-marquee-plus:before {
  content: "\e083";
}

.icon-marquee-minus:before {
  content: "\e084";
}

.icon-maximize:before {
  content: "\e112";
}

.icon-minimize:before {
  content: "\e113";
}

.icon-open:before {
  content: "\e128";
}

.icon-ellipsis:before {
  content: "\e129";
}

.icon-home:before {
  content: "\e900";
}

.icon-star:before {
  content: "\e600";
}

.icon-user:before {
  content: "\e604";
}

.icon-settings:before {
  content: "\e603";
}

.icon-bulb:before {
  content: "\e605";
}

.icon-bubble:before {
  content: "\e606";
}

.icon-news:before {
  content: "\e607";
}

.icon-banknote:before {
  content: "\e601";
}

.icon-megaphone:before {
  content: "\e609";
}

.icon-fire:before {
  content: "\e60a";
}

