@font-face {
  font-family: 'icomoon';
  src:url('/assets/icomoon.eot?-l0b106');
  src:url('/assets/icomoon.eot?#iefix-l0b106') format('embedded-opentype'),
    url('/assets/icomoon.woff?-l0b106') format('woff'),
    url('/assets/icomoon.ttf?-l0b106') format('truetype'),
    url('/assets/icomoon.svg?-l0b106#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-link:before {
  content: "\e005";
}

.icon-clock:before {
  content: "\e014";
}

.icon-heart:before {
  content: "\e024";
}

.icon-search:before {
  content: "\e036";
}

.icon-repeat:before {
  content: "\e058";
}

.icon-head:before {
  content: "\e074";
}

.icon-briefcase:before {
  content: "\e075";
}

.icon-speech-bubble:before {
  content: "\e076";
}

.icon-share:before {
  content: "\e081";
}

.icon-star2:before {
  content: "\e093";
}

.icon-maximize:before {
  content: "\e112";
}

.icon-minimize:before {
  content: "\e113";
}

.icon-star:before {
  content: "\e600";
}

.icon-settings:before {
  content: "\e603";
}

.icon-bulb:before {
  content: "\e605";
}

.icon-bubble:before {
  content: "\e606";
}

.icon-news:before {
  content: "\e607";
}

.icon-banknote:before {
  content: "\e601";
}

.icon-megaphone:before {
  content: "\e609";
}

.icon-fire:before {
  content: "\e60a";
}

