<script type="text/template" id="hitTemplate">
  <div class="{{ classes }}" data-id="{{ item_id }}">
    <div class="thumb pull-left hidden-xs">
      <img src="//drcs9k8uelb9s.cloudfront.net/{{ thumb_item_id }}.png">
    </div>
    <div class="title_url">
      <div class="title">
        {{#highlighted_title}}
          <a href="{{ url }}" target="_blank">{{{ highlighted_title }}}</a>
          {{#highlighted_url}}
            ({{{ highlighted_url }}})
          {{/highlighted_url}}
        {{/highlighted_title}}
        {{#highlighted_story_title}}
          {{#highlighted_story_url}}
            <a href="{{ story_url }}" target="_blank">{{{ highlighted_story_title }}}</a> ({{{ highlighted_story_url }}})
          {{/highlighted_story_url}}
          {{^highlighted_story_url}}
            {{{ highlighted_story_title }}}
          {{/highlighted_story_url}}
        {{/highlighted_story_title}}
      </div>
      <div class="url">
        <a href="{{ item_url }}{{#item_url_anchor}}{{ item_url_anchor }}{{/item_url_anchor}}" target="_blank">{{ item_url }}</a>
      </div>
      <div class="points"><b>{{ points }}</b> point{{#points_plural}}s{{/points_plural}}</div>
      <div class="author"> by <a href="https://news.ycombinator.com/user?id={{ author }}" target="_blank">{{{ highlighted_author }}}</a></div>
      <div class="created_at"><abbr class="timeago" title="{{ created_at }}"></abbr></div>
      {{#has_comments}}
        <div class="comments">
          <a href="https://news.ycombinator.com/item?id={{ item_id }}" target="_blank">{{ comments }} comment{{#comments_plural}}s{{/comments_plural}}</a>
        </div>
      {{/has_comments}}
      <br />
      {{#story_text}}
        <div class="story_text">{{{ story_text }}}</div>
      {{/story_text}}
      {{#comment_text}}
        <div class="comment_text">{{{ comment_text }}}</div>
      {{/comment_text}}
    </div>
    <div class="clearfix"></div>
  </div>
</script>
