%style{type: 'text/css'}
  :plain
    ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
    }

    .property {
      font-weight: bold;
    }

    .type-null {
      color: gray;
    }

    .type-boolean {
      color: firebrick;
    }

    .type-number {
      color: blue;
    }

    .type-string {
      color: green;
    }

    .callback-function {
      color: gray;
    }

    .collapsible {
      margin-left: 10px;
    }

    .hoverable {
      padding-top: 1px;
      padding-bottom: 1px;
      padding-left: 2px;
      padding-right: 2px;
      border-radius: 2px;
    }

    .hovered {
      background-color: rgba(235, 238, 249, 1);  
    }

    .collapser {
      padding-right: 6px;
      padding-left: 6px;
    }

%h1
  API
  %span.text-mini.label.label-warning BETA

%p The HNSearch API enables developers to access HN data programatically using a REST API. This documentation describes how to request data from the API and how to interpret the response.

%h3 Items

%h5 Request
%p
  %span.label.label-info GET
  <code>#{api_v1_items_url(':id')}</code>

%h5 Answer
%pre
  <div id="json"><div class="collapser"></div>{<span class="ellipsis"></span><ul class="obj collapsible"><li><div class="hoverable"><span class="property">id</span>: <span class="type-number">1</span>,</div></li><li><div class="hoverable"><span class="property">created_at</span>: <span class="type-string">"2006-10-09T18:21:51.000Z"</span>,</div></li><li><div class="hoverable"><span class="property">deleted</span>: <span class="type-boolean">false</span>,</div></li><li><div class="hoverable"><span class="property">dead</span>: <span class="type-boolean">false</span>,</div></li><li><div class="hoverable"><span class="property">author</span>: <span class="type-string">"pg"</span>,</div></li><li><div class="hoverable"><span class="property">title</span>: <span class="type-string">"Y Combinator"</span>,</div></li><li><div class="hoverable"><span class="property">url</span>: <span class="type-string">"</span><a href="http://ycombinator.com">http://ycombinator.com</a><span class="type-string">"</span>,</div></li><li><div class="hoverable"><span class="property">text</span>: <span class="type-null">null</span>,</div></li><li><div class="hoverable"><span class="property">points</span>: <span class="type-number">57</span>,</div></li><li><div class="hoverable"><span class="property">parent_id</span>: <span class="type-null">null</span>,</div></li><li><div class="hoverable"><span class="property">children</span>: <div class="collapser"></div>[<span class="ellipsis"></span><ul class="array collapsible"><li><div class="hoverable"><div class="collapser"></div>{<span class="ellipsis"></span><ul class="obj collapsible"><li><div class="hoverable"><span class="property">id</span>: <span class="type-number">15</span>,</div></li><li><div class="hoverable"><span class="property">created_at</span>: <span class="type-string">"2006-10-09T19:51:01.000Z"</span>,</div></li><li><div class="hoverable"><span class="property">deleted</span>: <span class="type-boolean">false</span>,</div></li><li><div class="hoverable"><span class="property">dead</span>: <span class="type-boolean">false</span>,</div></li><li><div class="hoverable"><span class="property">author</span>: <span class="type-string">"sama"</span>,</div></li><li><div class="hoverable"><span class="property">text</span>: <span class="type-string">"&amp;#34;the rising star of venture capital&amp;#34; -unknown VC eating lunch on SHR"</span>,</div></li><li><div class="hoverable"><span class="property">points</span>: <span class="type-number">5</span>,</div></li><li><div class="hoverable"><span class="property">parent_id</span>: <span class="type-number">1</span>,</div></li><li><div class="hoverable"><span class="property">children</span>: <div class="collapser"></div>[<span class="ellipsis"></span><ul class="array collapsible"><li><div class="hoverable"><div class="collapser"></div>{<span class="ellipsis"></span><ul class="obj collapsible"><li><div class="hoverable"><span class="property">id</span>: <span class="type-number">17</span>,</div></li><li><div class="hoverable"><span class="property">created_at</span>: <span class="type-string">"2006-10-09T19:52:45.000Z"</span>,</div></li><li><div class="hoverable"><span class="property">deleted</span>: <span class="type-boolean">false</span>,</div></li><li><div class="hoverable"><span class="property">dead</span>: <span class="type-boolean">false</span>,</div></li><li><div class="hoverable"><span class="property">author</span>: <span class="type-string">"pg"</span>,</div></li><li><div class="hoverable"><span class="property">text</span>: <span class="type-string">"Is there anywhere to eat on Sandhill Road?"</span>,</div></li><li><div class="hoverable"><span class="property">points</span>: <span class="type-number">5</span>,</div></li><li><div class="hoverable"><span class="property">parent_id</span>: <span class="type-number">15</span>,</div></li><li><div class="hoverable"><span class="property">children</span>: [ ]</div></li></ul>}</div></li></ul>]</div></li></ul>}</div></li></ul>]</div></li></ul>}</div>

%h3 Users

%h5 Request
%p
  %span.label.label-info GET
  <code>#{api_v1_users_url(':username')}</code>

%h5 Answer
%pre
  <div id="json">{<span class="ellipsis"></span><ul class="obj collapsible"><li><div class="hoverable"><span class="property">username</span>: <span class="type-string">"pg"</span>,</div></li><li><div class="hoverable"><span class="property">about</span>: <span class="type-string">"PG's bio"</span>,</div></li><li><div class="hoverable"><span class="property">karma</span>: <span class="type-string">99999</span></div></li></ul>}</div>

%h3 Search

%h5 Request
%p
  %span.label.label-info GET
  <code>#{api_v1_search_url('p1' => 'v1', 'p2' => 'v2...')}</code>

%p The complete list of search parameters is available in Algolia <a href="https://www.algolia.com/doc/rest_api#QueryIndex">Search API documentation</a>.

%h5 Answer
%pre
  <div id="json"><div class="collapser"></div>{<span class="ellipsis"></span><ul class="obj collapsible"><li><div class="hoverable"><span class="property">hits</span>: <div class="collapser"></div>[<span class="ellipsis"></span><ul class="array collapsible"><li><div class="hoverable"><div class="collapser"></div>{<span class="ellipsis"></span><ul class="obj collapsible"><li><div class="hoverable"><span class="property">title</span>: <span class="type-string">"Y Combinator"</span>,</div></li><li><div class="hoverable"><span class="property">url</span>: <span class="type-string">"</span><a href="http://ycombinator.com">http://ycombinator.com</a><span class="type-string">"</span>,</div></li><li><div class="hoverable"><span class="property">author</span>: <span class="type-string">"pg"</span>,</div></li><li><div class="hoverable"><span class="property">points</span>: <span class="type-number">57</span>,</div></li><li><div class="hoverable"><span class="property">story_text</span>: <span class="type-null">null</span>,</div></li><li><div class="hoverable"><span class="property">comment_text</span>: <span class="type-null">null</span>,</div></li><li><div class="hoverable"><span class="property">_tags</span>: <div class="collapser"></div>[<span class="ellipsis"></span><ul class="array collapsible"><li><div class="hoverable"><span class="type-string">"story"</span></div></li></ul>],</div></li><li><div class="hoverable"><span class="property">num_comments</span>: <span class="type-number">2</span>,</div></li><li><div class="hoverable"><span class="property">objectID</span>: <span class="type-string">"1"</span>,</div></li><li><div class="hoverable"><span class="property">_highlightResult</span>: <div class="collapser"></div>{<span class="ellipsis"></span><ul class="obj collapsible"><li><div class="hoverable"><span class="property">title</span>: <div class="collapser"></div>{<span class="ellipsis"></span><ul class="obj collapsible"><li><div class="hoverable"><span class="property">value</span>: <span class="type-string">"Y Combinator"</span>,</div></li><li><div class="hoverable"><span class="property">matchLevel</span>: <span class="type-string">"none"</span>,</div></li><li><div class="hoverable"><span class="property">matchedWords</span>: [ ]</div></li></ul>},</div></li><li><div class="hoverable"><span class="property">url</span>: <div class="collapser"></div>{<span class="ellipsis"></span><ul class="obj collapsible"><li><div class="hoverable"><span class="property">value</span>: <span class="type-string">"</span><a href="http://ycombinator.com">http://ycombinator.com</a><span class="type-string">"</span>,</div></li><li><div class="hoverable"><span class="property">matchLevel</span>: <span class="type-string">"none"</span>,</div></li><li><div class="hoverable"><span class="property">matchedWords</span>: [ ]</div></li></ul>},</div></li><li><div class="hoverable"><span class="property">author</span>: <div class="collapser"></div>{<span class="ellipsis"></span><ul class="obj collapsible"><li><div class="hoverable"><span class="property">value</span>: <span class="type-string">"&lt;em&gt;pg&lt;/em&gt;"</span>,</div></li><li><div class="hoverable"><span class="property">matchLevel</span>: <span class="type-string">"full"</span>,</div></li><li><div class="hoverable"><span class="property">matchedWords</span>: <div class="collapser"></div>[<span class="ellipsis"></span><ul class="array collapsible"><li><div class="hoverable"><span class="type-string">"pg"</span></div></li></ul>]</div></li></ul>}</div></li></ul>}</div></li></ul>}, [...]</div></li></ul>],</div></li><li><div class="hoverable"><span class="property">page</span>: <span class="type-number">0</span>,</div></li><li><div class="hoverable"><span class="property">nbHits</span>: <span class="type-number">11</span>,</div></li><li><div class="hoverable"><span class="property">nbPages</span>: <span class="type-number">1</span>,</div></li><li><div class="hoverable"><span class="property">hitsPerPage</span>: <span class="type-number">20</span>,</div></li><li><div class="hoverable"><span class="property">processingTimeMS</span>: <span class="type-number">1</span>,</div></li><li><div class="hoverable"><span class="property">query</span>: <span class="type-string">"pg"</span>,</div></li><li><div class="hoverable"><span class="property">params</span>: <span class="type-string">"query=pg"</span></div></li></ul>}</div>

%h2 Rate limits

%p
  We're limiting the number of API requests from a single IP to 100 per minute. If you or your application has been blacklisted and you think there has been an error, please #{mail_to 'support@algolia.com', 'contact us', subject: 'HNSearch: rate limit', :encode => :javascript}.
