%h1 Cool apps

%p We love <a href="http://news.yacombinator">Hacker News</a> and apps based on it. If you're building an app based on our API, please <a href="https://github.com/algolia/hn-search/pulls">let us know</a>!

%ul
  %li Your app here
