@import "./../../src/variables.scss";
@import "./../../src/colors.scss";

.SocialShare {
  display: inline-block;
  position: relative;
  z-index: 5;

  .Dropdown {
    position: initial;

    &_label {
      border: none;
      color: #9d9d9d;

      &:hover {
        color: $orange;
      }
    }
    
    svg + svg {
      display: none;
    }
  }

  ul {
    width: 220px;
    background-color: #fff;

    li {
      padding: $spacing-small;
    }

    li a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #9d9d9d;

      &:hover {
        color: $orange;
        border-bottom: 0 dotted #ccc !important;

        svg {
          color: $orange;
        }
      }
    }
  }
}