@import "./normalize";

@import "./colors.scss";
@import "./variables.scss";

@import "./Comments.scss";
@import "./Datepicker.scss";
@import "./Layout.scss";
@import "./Story.scss";
@import "./ThemeSwitch.scss";

// Components
@import "./../components/Dropdown/Dropdown.scss";
@import "./../components/ErrorBoundary/ErrorBoundary.scss";
@import "./../components/Footer/Footer.scss";
@import "./../components/Loader/Loader.scss";
@import "./../components/Pagination/Pagination.scss";
@import "./../components/SearchFilters/SearchFilters.scss";
@import "./../components/SearchHeader/SearchHeader.scss";
@import "./../components/SearchResults/NoResults.scss";
@import "./../components/SearchResults/SearchResults.scss";
@import "./../components/Sidebar/Sidebar.scss";
@import "./../components/SocialShare/SocialShare.scss";

// Views
@import "./../views/Api.scss";
@import "./../views/Help.scss";
@import "./../views/Settings.scss";

@import "react-day-picker/lib/style.css";

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-weight: 200;
}

html .experimental,
body .experimental {
  color: #000;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

html, body {
  color: #000;
  font-family: Verdana,Geneva,sans-serif
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  transition: color .1s linear;
  color: #477dca;
  text-decoration: none;
}

code, pre {
  font-family: monospace,monospace;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.container{
  @media screen and (min-width: 1200px) {
    width: calc(85% - 10px);
    margin: 0 auto;
  }
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.default .SearchHeader.container,
.default .SearchFilters.container {
  width: 100% !important;
}

input[type=search], input[type=text] {
  -webkit-appearance: none; // prevents the ugly shadow on iOS inputs
}

main > div {
  min-height: 100vh;
}

.experimental.light {
  background-color: $light-background;
}
.experimental.dark {
  background-color: $dark-background;
}