$gray: #f6f6ef;
$orange: #FF742B;

$text-muted: #9d9d9d;
$text-dimmed: dimgray;


$button-background-dark: #17171e;
$text-dark: rgba(255,255,255,.42);
$text-dark-light: rgba(255,255,255,.85);
$text-dark-small:  rgba(255,255,255,.5);
$background-dark: #1e2129;
$background-dark-light: #32323f;