@import "./../../src/variables.scss";
@import "./../../src/colors.scss";

$headerHeight: 60px;

.SearchHeader {
  position: fixed;
  z-index: $zIndexHeader;
  
  &_search {
    padding: $spacing-base;
    height: $headerHeight;
    display: flex;
    align-items: center;
    background: $orange;
  }

  &_container {
    position: relative;
    display: inline-block;
    width: calc(100% - 230px);
    max-width: 570px;
    margin-right: $spacing-base;
  }

  &_label {
    color: white;
    font-size: 18px;
    line-height: 1;
  }

  &_logo {
    flex: 1 0 230px;
    max-width: 230px;
    display: flex;
    align-items: center;

    img {
      width: 48px;
      margin-right: $spacing-small;
    }
  }

  &_settings {
    position: absolute;
    right: $spacing-medium;

    a {
      color: white;
    }
  }

  .PoweredBy {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-left: $spacing-small;

    a {
      margin: 0 $spacing-small;
    }

    img {
      height: 16px;
    }
  }

  .SearchIcon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 6px;
    left: 12px;
    color: $orange;
    font-size: 24px;
  }

  .SearchInput {
    border-radius: 0;
    border-color: transparent;
    border: none;

    height: 42px;
    box-shadow: none;
    padding: $spacing-medium $spacing-large $spacing-medium 54px;

    &:focus {
      box-shadow: none;
    }
  }
}