@import "./../../src/variables.scss";
@import "./../../src/colors.scss";

$headerHeight: 60px;

.SearchHeader {
  position: fixed;
  z-index: $zIndexHeader;
  
  &_search {
    padding: $spacing-base;
    height: $headerHeight;
    display: flex;
    align-items: center;
    background: $orange;
    height: auto;
    padding: $spacing-base 40px $spacing-base $spacing-base;

    @media (max-width:768px) {
      padding: $spacing-base $spacing-large $spacing-base $spacing-base;
    }
  }

  &_container {
    position: relative;
    display: inline-block;
    width: calc(100% - 230px);
    max-width: 870px;
    margin-right: $spacing-base;

    @media (max-width:768px) {
      width: calc(100% - 160px)
    }

    @media (max-width: 480px){
      width: calc(100% - 86px)
    }
  }

  &_label {
    color: white;
    font-size: 18px;
    line-height: 1;
  }

  &_logo {
    flex: 1 0 230px;
    max-width: 230px;
    display: flex;
    align-items: center;

    @media (max-width:768px) {
      flex: 1 0 40px;
      max-width: 40px;
      min-width: 40px;
      
      .SearchHeader_label {
        display: none;
      }
    }

    img {
      width: 48px;
      margin-right: $spacing-small;
    }
  }

  &_settings {
    position: absolute;
    right: $spacing-medium;

    @media (max-width: 768px){
      right: $spacing-small;
    }
    
    a {
      display: flex;
      color: white;
    }
  }

  &_back {
    display: flex;
    align-items: center;
  }

  .PoweredBy {
    color: #000;
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-left: $spacing-small;

    @media (max-width: 480px) {
      display: none;
    }

    a {
      display: flex;
      margin: 0 $spacing-small;
    }

    img {
      height: 16px;
    }
  }

  .SearchIcon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 9px;
    left: 12px;
    color: $orange;
    font-size: 24px;
    pointer-events: none;
  }

  .SearchInput {
    border-radius: 0;
    border-color: transparent;
    border: none;

    height: 42px;
    width: 100%;
    box-shadow: none;
    padding: $spacing-medium $spacing-large $spacing-medium 54px;
    font-weight: 300;

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}

.experimental {
  .SearchHeader{
    border-bottom: solid 1px #eee;      

    &_search {
      @media (max-width: 768px) {
        height: 60px !important;
      }
    }

    &_logo {
      img {
        width: 60px;

        @media (max-width: 768px) {
          width: 32px;
        }
      }
    }

    .SearchInput {
      border-radius: 20px;
      border: 1px solid #b6b6b6;
    }
    

    .PoweredBy {
      img {
        @media (max-width: 768px) {
          height: 8px;
        }
      }
    }

    &_label {
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
    
    &_settings a {
      color: #9d9d9d;
    }

    &_search {
      padding: $spacing-large 40px $spacing-large $spacing-large;
      background-color: #fff;

      @media (max-width:768px) {
        padding: $spacing-small $spacing-large $spacing-small $spacing-small;
      }
    }

    &_label {
      color: #9d9d9d;
    }
  }
}