@import "./../../src/variables.scss";
@import "./../../src/colors.scss";

.Avatar {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  text-align: center;
  line-height: 16px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 12px;
  border-radius: 3px;
  margin-right: $spacing-base;


  svg {
    height: 16px;
    width: 14px;
    color: #9d9d9d;
  }
}

.Comments {
  margin: 0;
  padding: $spacing-small 0 0 $spacing-large;
  border-left: solid 1px #ccc;
}

.Comment {
  padding: $spacing-base 0 $spacing-small;

  &:not(:last-child) {
    border-bottom: solid 1px #eee;
  }

  a {
    color: #9d9d9d;
    font-size: 12px;
  }

  &_author {
    display: flex;
    align-items: center;
    margin-right: $spacing-base;
  }

  &_createdAt {
    margin-left: $spacing-base;

    a {
      font-size: 12px;
      margin-left: $spacing-base;
    }
  }

  &_text {
    color: #6B5C5C;
    font-size: 12px;
    margin-top: $spacing-base;

    p {
      margin-bottom: $spacing-base;
    }
  }
}