@import "./../../src/variables.scss";
@import "./../../src/colors.scss";

.Story {
  font-size: 14px;
  padding: 0 $spacing-large;
  border-bottom: solid 1px #eee;
  min-height: 54px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &_container {
    display: flex;
    align-items: center;
  }

  em {
    background: #ff0!important;
    color: #000!important;
    font-weight: bold;
  }

  &_image {
    width: 50px;
    height: 50px;
    flex: 0 0 50px;
    padding: 2px;
    margin: 0 $spacing-medium 0 0;
    border: solid 1px #eee;
    border-radius: 3px;
    align-self: flex-start;

    @media (max-width: 768px) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &_data {
    white-space: normal;
    overflow: hidden;
    margin: 4px 0;
  }

  &_title {
    width: 100%;
    margin-bottom: $spacing-small;

    em {
      font-weight: bold;
    }
    a { color: black }
  }

  &_meta {
    font-size: 10px;

    a {
      color: $text-dimmed;
    }
  }

  &_separator {
    margin: 0 4px;
    color: dimgray;

    &:last-child {
      display: none;
    }
  }

  &_comment {
    padding: $spacing-medium 0 $spacing-small $spacing-medium;
    color: #000;
    font-size: 12px;
    width: 100%;

    * {
      white-space: normal;
    }
  }
}

.experimental {
  .Story {
    padding: $spacing-small 12px $spacing-small $spacing-medium;

    &_container {
      width: 100%;
    }

    em {
      font-style: normal;
      background: transparent !important;
      color: #000!important;
      font-weight: bold;
    }

    a:hover {
      border-bottom: 1px dotted #ccc
    }

    &_separator {
      opacity: 0;
      visibility: hidden;
    }

    &_meta {
      a {
        color: #9d9d9d;
        display: inline-block;
        border-bottom: 1px dotted transparent !important;

        &:hover {
          border-bottom: 1px dotted #ccc !important;
        }
      }

      svg {
        transform: translate(0, 2px);
        height: 13px;
        width: 13px;
        margin-right: 4px;
        color: #d0d0d0 !important;
      }
    }

    &_link {
      color: #5a96b1 !important;
    }

    &_share {
      flex: 1;
      text-align: right;
      min-width: 140px;
      align-self: flex-start;

      @media (max-width: 480px) {
        display: none;
      }

      svg {
        width: 18px;
      }

      button {
        padding: 0;
        margin: 0 $spacing-small;
        border: none;
        color: #9d9d9d;
        background-color: transparent;

        &:focus {
          outline: none;
        }

        &:hover {
          color: $orange;
        }

        &.Story_starred {
          transform: translate(0, 6px)
        }

        &.Story_starred-active {
          color: $orange;

          svg {
            fill: $orange;
          }
        }

        &.Story_commentsButton {
          background-color: #939393;
          color: #fff;
          font-size: 12px;
          padding: $spacing-base;
          font-weight: 700;
          min-width: 25px;
          position: relative;
          height: 21px;

          &:before {
            content: "";
            height: 0;
            width: 0;
            border-top: 9px solid transparent;
            border-bottom: 9px solid transparent;
            border-right: 9px solid #939393;
            position: absolute;
            right: 4px;
            bottom: -9px;
          }

          &:disabled {
            cursor: not-allowed;
            opacity: .7;
          }

          &:hover:not(:disabled) {
            background-color: $orange;
            &:before {
              border-right-color: $orange;
            }
          }
        }
      }
    }

    &_comment {
      a {
        color: #5a96b1 !important;
      }

      em {
        color: #000 !important;
        font-weight: bold;
      }
    }

    &_title {
      margin-bottom: $spacing-base;
      
      a {
        transition: color .1s linear;
        color: #5c5c5c;
        font-size: 16px;
        font-weight: 400;

        &:visited {
          color: #9c9c9c
        }

        &:hover {
          border-bottom: 0;
        }
      }
    }
    
    .SocialShare {
      transform: translate(0, $spacing-small);
    }
  }
}