@import "./../../src/variables.scss";
@import "./../../src/colors.scss";

.Story {
  font-size: 14px;
  padding: 0 $spacing-large;
  overflow: hidden;
  border-bottom: solid 1px #eee;
  min-height: 54px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // padding-top: $spacing-small;

  em {
    background: #ff0!important;
    color: #000!important;
    font-weight: bold;
  }

  &_title {
    margin-bottom: 0;
    em {
      font-weight: bold;
    }
    a { color: black }
  }

  &_meta {
    font-size: 10px;

    a {
      color: $text-dimmed;
    }
  }

  &_separator {
    margin: 0 4px;

    &:last-child {
      display: none;
    }
  }

  &_comment {
    padding: $spacing-medium 0 $spacing-small $spacing-medium;
    color: #000;
    font-size: 12px;
    width: 100%;
  }
}