//Typography
h1, h2, h3, h4, h5
  font-weight: 200

html, body
  height: 100%
  color: $lightGray
  font-family: $fontBase
body
  overflow-y: scroll

//HEADER
.page-header
  padding: 20px 5px 20px 20px
  border-bottom: solid 1px #eee
  background-color: white
.logo
  color: $lightGray
  img
    float: left
    height: 60px
    margin-right: 10px
    @include transition(all 0.5s ease)
  .logo-name
    float: left
    padding-top: 8px
    line-height: 1em
    font-size: 22px
    color: $lightGray
  .small-header &
    img
      padding-top: 2px
      height: 45px
      @include transition(all 0.5s ease)
    .logo-name
      font-size: 17px

.navigation
  ul
    position: relative
    top: 15px
  li
    margin-right: 20px
    padding-bottom: 5px
    cursor: pointer
    &.active
      font-weight: bold
      border-bottom: solid 2px $orange

//SEARCHBOX
.search-wrapper
  position: relative
  margin-top: 8px
  .small-header &
    margin-top: 3px
  .icon-search
    color: $orange
    position: absolute
    top: 8px
    left: 14px
    font-size: 24px
  .item-input-wrapper
    display: inline-block
    width: calc(100% - 100px)
    margin-right: 5px
  input
    border-radius: 25px
    box-shadow: none
    line-height: 25px
    padding: 0 15px 0 50px
    height: 42px
    border-color: lighten($lightGray, 10%)
    &:focus
      outline: 0
      box-shadow: none
      border-color: $blue
    @include placeholder
      color: #ccc
      font-size: 14px
      font-weight: 300
  .type-dropdown
    position: absolute
    top: 5px
    left: 15px
  .powered-by
    width: 80px
    font-size: 12px
    display: inline-block
    position: relative
    img
      width: 60px
      position: relative
      top: 1px
      vertical-align: bottom

//SIDEBAR
.sidebar
  background-color: $sidebarColor
  ul
    display: block
    height: 100%
    padding: 20px 0
    li
      float: left
      width: 100%
      a
        display: block
        width: 100%
        padding: 10px 20px
        color: $darkGray
        &.active
          background-color: #E4E3E5
      i
        margin-right: 10px
      &.divider
        margin: 10px 0
        padding: 0
        border-bottom: solid 1px #eee

.nav-link-settings
  float: right
  margin-right: 10px
  a
    @include button(flat, white)
    color: $lightGray

//CONTENT
.main
  strong
    color: $darkGray
  header
    border-bottom: solid 1px #eee
    line-height: 77px
    padding: 0 30px
    background-color: lighten($sidebarColor,2%)
    h1
      display: inline-block
      margin-right: 10px
      font-size: 25px
      position: relative
      top: 3px
      color: $darkGray
  .search-infos
    float: right
    position: relative
    font-size: 13px
    .action-share
      margin-left: 10px
      a
        font-size: 18px
        color: $lightGray
        &:hover
          color: $orange
  .wrap-dd-menu
    li a
      font-size: 13px
  .date-range-filter
    ul
      display: inline-block
      li
        width: 100px
        display: inline-block
    label
      margin-left: 20px
      font-size: 12px
      font-weight: normal
      white-space: nowrap
    input
      &.radio:empty
        margin-left: -9999px
      &.radio:empty ~ label
        float: left
        position: relative
        line-height: 23px
        text-indent: 30px
        cursor: pointer
        @include user-select(none)
      &.radio:empty ~ label:before
        position: absolute
        display: block
        top: 0
        bottom: 0
        left: 0
        content: ''
        height: 20px
        width: 20px
        border: solid 1px #ccc
        line-height: 20px
        border-radius: 50%
      &.radio:checked ~ label:before
        box-shadow: inset 0 0 0 6px white, inset 0 0 0 10px $orange
      &.radio:focus ~ label:before
        box-shadow: inset 0 0 0 6px white, inset 0 0 0 10px $orange
  h2
    display: inline-block
    margin-top: 1em
    font-size: 20px
    color: $darkGray

//SEARCH RESULTS
.search-results
  position: relative
  .item
    border-bottom: solid 1px #eee
    position: relative
    padding: 0
    &.item-fixed .item-main // sticked item
      position: fixed
      z-index: 10
      box-shadow:  0 1px 0 rgba(black,.2), 0 4px 0 rgba(black,.05)
    &.item-absolute-bottom .item-main //end of stick transition state
      position: absolute
      left: 0
      bottom: 0
    &.item-show-comments
      //
  a.hit-link
    font-size: 12px
    color: $linkColor
  em
    font-weight: bold
    font-style: normal
  .author
    display: inline-block
    font-size: 13px
    margin-bottom: 0
    color: $lightGray
    em
      font-weight: bold
      font-style: normal
      color: $darkGray

//ITEMS
.item-main
  background-color: white
  h2
    float: left
    margin-top: 5px
    font-size: 16px
    font-weight: normal
    a
      color: $darkGray
      &[href]:hover
        color: darken($darkGray,25%)
      &[href]:visited
        color: lighten($darkGray,25%)
    em
      font-style: normal
      font-weight: bold
  .date, .comments
    font-size: 12px
    color: $lightGray
  .item-comments
    font-size: 12px
  .starred
    i
      color: $orange
  [class^="icon-"], [class*=" icon-"]
    color: $lightGray


.item-thumbnail
  float: left
  width: 55px
  padding: 3px
  margin-right: 15px
  border: solid 1px #eee
  border-radius: 3px
  a[href].item-thumbnail-link:hover &
    border-color: lighten($lightGray,10%)
.item-title-and-infos
  float: left
.text-container
  clear: both
  font-size: 12px
  padding: 15px 20px
  color: lighten($darkGray, 10%)
  p
    margin-bottom: 5px
  em
    font-weight: bold
    font-style: normal
    color: $darkGray
.item-infos
  float: left
  clear: both
  li
    margin-right: 12px
  i
    position: relative
    top: 2px
    font-size: 14px
  a:hover
    border-bottom: dotted 1px #ccc
.item-avatar
  display: inline-block
  width: 16px
  height: 16px
  margin-right: 2px
  text-align: center
  line-height: 16px
  color: white
  text-transform: capitalize
  font-weight: 500
  font-size: 12px
  border-radius: 3px
.item-actions
  position: absolute
  top: 35px
  right: 20px
  font-size: 12px
  a
    color: $orange
    i
      margin-left: 20px
      font-size: 18px
    &:hover
      i
        color: $orange
ul.list-item-comments
  padding: 0 50px 20px
  color: $darkGray
  font-size: 12px
  > li
    padding: 15px 0 10px 0
    border-bottom: solid 1px #EEEEEE
    &:last-child
      border: none
  .replies-list
    margin-bottom: 15px
  ul
    display: block
    margin: 0
    padding: 8px 0 0 15px
    border-left: solid 1px #ccc
    li
      margin-bottom: 15px
  .reply-container
    padding-left: 0
    p
      margin-bottom: 4px
    a
      color: #517B91

.search-pagination
  margin-top: 20px
  text-align: center
  background-color: white
  li
    display: inline-block
    button
      margin: 3px
      padding: 5px 10px
      font-size: 12px
      text-align: center
      background: transparent
      color: $lightGray
      font-weight: normal
      border: 1px solid $lightGray
      outline: none
    &.active
      button
        border-color: $orange
        color: $orange

//FOOTER
footer
  margin-top: 50px
  text-align: center
  a
    color: $lightGray
    font-size: 14px


//SLIDING MENU
.sliding-menu-content
  @include size(220px 100%)
  @include transform(translateX(-220px))
  z-index: 9999
  overflow-y: scroll
  -webkit-overflow-scrolling: touch

.sliding-menu-button
  @include button(flat, $lightGray)
  display: inline-block
  cursor: pointer
  position: relative
  outline: none
  img
    height: 1.3em

//responsive stuff
@include media($medium-screen-down)
  .logo-name
    display: none
  .item-thumbnail
    display: none
  .item-actions
    display: none
  .navigation
    display: none
  .search-infos
    display: none !important
@include media($medium-screen-up)
  .sliding-menu-button
    display: none
