html, body
  margin: 0
  padding: 0
  color: #B6B6B6
  height: 100%

.container
  width: 1200px
  margin: 0 auto
.page-header
  position: fixed
  width: 1200px
  padding: 20px
  height: 100px
  border-bottom: solid 1px #eee
  background-color: white
  .col-1, .col-2, .col-3
    float: left
    margin: 0
    padding: 0
  .col-1
    width: 25%
  .col-2
    width: 30%
  .col-3
    width: 45%
    padding-top: 5px
    text-align: right
  .logo
    color: #B6B6B6
    img
      float: left
      margin-right: 10px
    .logo-name
      color: #B6B6B6
      float: left
      font-size: 22px
      line-height: 1.2em
      padding-top: 3px
  .navigation
    ul
      position: relative
      top: 15px
    li
      margin-right: 20px
      padding-bottom: 5px
      cursor: pointer
      &.active
        font-weight: bold
        border-bottom: solid 2px #FF742B
  .powered-by
    font-size: 12px
    display: inline-block
    img
      position: relative
      top: 1px
      vertical-align: bottom
.clearfix
  *zoom: 1
  &:before,
  &:after
    display: table
    content: ""
    line-height: 0
  &:after
    clear: both

ul.list-inline
  display: inline-block
  li
    display: inline-block

.main
  position: relative
  width: 100%
  float: left
  padding: 180px 0 50px 200px
  min-height: 800px
  header
    position: fixed
    top: 100px
    left: 200px
    width: 1000px
    padding: 20px 30px
    border-bottom: solid 1px #eee
    position: absolute
    background-color: white
    z-index: 110
    h1
      display: inline-block
      font-size: 25px
      font-weight: 200
      color: #5C5C5C
      margin-right: 10px
    .search-infos
      display: inline-block
      color: #ccc
    .btn-refresh
      width: 30px
      height: 30px
      line-height: 30px
      text-align: center
      padding: 0
      background-color: white
      border: solid 1px #eee
      color: #ccc
      position: relative
      top: -5px
      margin-right: 4px
      &:hover
        border-color: #ccc
        color: #FF742B
    .date-range-filter
      position: absolute
      right: 15px
      top: 28px
      label
        font-size: 12px
        font-weight: normal
        white-space: nowrap
        margin-left: 20px
      input.radio:empty
        margin-left: -9999px

      input.radio:empty ~ label
        position: relative
        float: left
        line-height: 23px
        text-indent: 30px
        cursor: pointer
        user-select: none

      input.radio:empty ~ label:before
        position: absolute
        display: block
        top: 0
        bottom: 0
        left: 0
        content: ''
        height: 20px
        width: 20px
        border: solid 1px #ccc
        line-height: 20px
        border-radius: 50%

      input.radio:checked ~ label:before
        box-shadow: inset 0 0 0 6px white, inset 0 0 0 10px #FF742B

      input.radio:focus ~ label:before
        box-shadow: inset 0 0 0 6px white, inset 0 0 0 10px #FF742B
  h2
    display: inline-block
    font-size: 20px
    font-weight: 200
    color: #5C5C5C
    margin-top: 1em

  .sidebar
    position: absolute
    top: 100px
    bottom: 0
    left: 0
    width: 200px
    background-color: #F8F8F8
    ul
      display: block
      padding: 20px 0
      height: 100%
      position: relative
      li
        float: left
        width: 100%
        a
          display: block
          &.active
            background-color: #E4E3E5
        &.divider
          margin: 10px 0
          padding: 0
          border-bottom: solid 1px #eee
        a
          display: block
          width: 100%
          padding: 10px 20px
          color: #5C5C5C
        i
          margin-right: 10px
        &.settings
          text-align: center
          position: absolute
          bottom: 0
          right: 0
          left: 0
          background-color: #E4E3E5
  .edit-settings
    padding: 10px

.main-fixed
  .site-header
    display: none
  .main
    padding-top: 0
    header
      position: fixed
      top: 0
      left: 50%
      width: 1000px
      margin-left: -400px
    .sidebar
      position: fixed
      top: 0
      left: 50%
      width: 200px
      margin-left: -600px
    .search-results
      padding-top: 180px

.search-wrapper
  display: inline-block
  position: relative
  .icon-search
    color: #FF742B
    position: absolute
    font-size: 24px
    top: 8px
    right: 14px
  input
    width: 350px
    border-radius: 25px
    box-shadow: none
    line-height: 25px
    @include placeholder
      color: #ccc
      font-size: 14px
      font-weight: 300
      font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif

.search-results
  position: relative
  background: white
  .item
    padding: 20px 30px 0 30px
    border-bottom: solid 1px #eee
    min-height: 90px
    position: relative
    .item-main
      background-color: white
    &.item-show-comments
      // background-color: red
    &.item-absolute-bottom
      padding-top: 90px
      .item-main
        width: 1000px
        left: 0
        padding: 20px 30px
        position: absolute
        bottom: 0
    &.item-fixed
      padding-top: 90px
      .item-main
        width: 990px
        margin: -20px -30px 0
        padding: 20px 30px 0
        position: fixed
        top: 198px
        height: 95px
        z-index: 150
        box-shadow:  0 1px 0 rgba(0,0,0,.2), 0 3px 0 rgba(0,0,0,.1)
    h2
      margin-top: 5px
      float: left
      font-size: 16px
      font-weight: normal
      a
        color: #5C5C5C
      em
        font-style: normal
        font-weight: bold
    .item-thumbnail
      width: 54px
      float: left
      margin-right: 15px
      margin-bottom: 20px
      border: solid 1px #eee
      border-radius: 3px
      padding: 3px
      img
        display: block
        width: 100%
    .item-title-and-infos
      float: left
    .item-infos
      float: left
      clear: both
      li
        margin-right: 10px
      i
        position: relative
        top: 2px
        font-size: 14px
    .item-avatar
      display: inline-block
      width: 16px
      height: 16px
      line-height: 16px
      text-align: center
      text-transform: capitalize
      color: white
      font-weight: 500
      font-size: 12px
      border-radius: 3px
      margin-right: 2px
    .item-actions
      float: right
      font-size: 12px
      position: relative
      top: 14px
      a
        color: #FF742B
        i
          margin-left: 20px
          font-size: 18px
        &:hover
          i
            color: #FF742B
    a.hit-link
      font-size: 12px
      color: #5A96B1
    .author
      display: inline-block
      font-size: 13px
      margin-bottom: 6px
      color: #B6B6B6
    .date
      font-size: 12px
      color: #B6B6B6
    .item-comments
      font-size: 12px
    .starred
      i
        color: #FF742B
    [class^="icon-"], [class*=" icon-"]
      color: #B6B6B6
  ul.list-item-comments
    padding: 0 0 20px 30px
    color: #5C5C5C
    > li
      padding: 15px 0 10px 0
      border-bottom: solid 1px #EEEEEE
      &:last-child
        border: none
    .replies-list
      margin-bottom: 15px
    ul
      display: block
      margin: 0 0 0 5px
      padding: 8px 0 0 15px
      border-left: solid 1px #ccc
    .reply-container
      padding-left: 8px
      p
        margin-bottom: 4px
      a
        color: #517B91
  .search-pagination
    margin-top: 20px
    text-align: center
    background-color: white
    li
      display: inline-block
      button
        margin: 3px
        padding: 5px 10px
        font-size: 12px
        text-align: center
        background: none
        color: #B6B6B6
        font-weight: normal
        border: 1px solid #B6B6B6
        outline: none
      &.active
        button
          border-color: #FF742B
          color: #FF742B

