/* line 15, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/bourbon/addons/_clearfix.scss */
.main .search-results .item-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 11, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
h1, h2, h3, h4, h5 {
  font-weight: 200;
  font-family: Verdana, Geneva, sans-serif !important;
}

/* line 15, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
html, body {
  height: 100%;
  color: black;
  font-family: Verdana, Geneva, sans-serif !important;
}

@media screen and (min-width: 1200px) {
  /* line 21, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
  .container {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1200px) {
  /* line 21, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  /* line 21, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
  .container {
    min-width: 0px;
  }
}

/* line 30, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.page-header {
  position: fixed;
  z-index: 15;
  height: 60px;
  padding: 5px;
  background: #FF742B;
  border: none;
}
@media screen and (min-width: 1200px) {
  /* line 30, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
  .page-header {
    width: 80%;
  }
}
@media screen and (max-width: 1200px) {
  /* line 30, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
  .page-header {
    width: 100%;
  }
}
/* line 41, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.page-header .logo-wrapper {
  float: left;
  width: 230px;
}
@media screen and (max-width: 768px) {
  /* line 41, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
  .page-header .logo-wrapper {
    width: 70px;
  }
}
/* line 46, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.page-header .logo-wrapper .logo-name {
  color: white;
  font-size: 18px;
  padding-top: 6px;
}
/* line 51, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.page-header .logo-wrapper .logo img {
  width: 48px;
  height: 48px;
}
/* line 54, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.page-header .search-wrapper {
  float: left;
  width: calc(90% - 230px);
  margin-top: 3px;
}
@media screen and (max-width: 768px) {
  /* line 54, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
  .page-header .search-wrapper {
    width: calc(90% - 60px);
  }
}
/* line 60, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.page-header .search-wrapper input {
  border-radius: 0;
  border-color: transparent;
  border: none;
}
/* line 64, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.page-header a, .page-header a:visited {
  color: white;
}
/* line 66, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.page-header .nav-link-settings {
  position: absolute;
  top: 15px;
  right: 20px;
}
/* line 70, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.page-header .nav-link-settings a:link, .page-header .nav-link-settings a:visited {
  font-size: 16px;
  color: white;
}
/* line 73, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.page-header .nav-link-settings a:link i, .page-header .nav-link-settings a:visited i {
  position: relative;
  top: 3px;
  font-size: 20px;
}

/* line 78, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.sidebar {
  display: none;
}

/* line 80, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.sliding-menu-button {
  display: none;
}

/* line 83, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main {
  font-size: 13px;
  position: relative;
  padding: 60px 0 0 0;
  background: #f6f6ef;
}
/* line 88, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main header {
  border: none;
  padding-left: 10px;
  font-size: 12px;
  position: fixed;
  line-height: 42px;
  top: 60px;
  z-index: 5;
  height: 42px;
}
/* line 95, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main header h1 {
  text-align: center;
  font-size: 18px;
}
@media screen and (min-width: 1200px) {
  /* line 88, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
  .main header {
    left: 10%;
    right: 10%;
  }
}
@media screen and (max-width: 1200px) {
  /* line 88, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
  .main header {
    padding: 0 10px !important;
    width: 100%;
    left: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 106, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
  .main header > span {
    display: none;
  }
}
/* line 110, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main header .date-range-filter {
  position: absolute;
  top: 28px;
  right: 15px;
}
/* line 112, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main .search-results {
  margin-top: 42px;
  padding-top: 10px;
}
@media screen and (max-width: 480px) {
  /* line 112, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
  .main .search-results {
    width: 100%;
  }
}
/* line 117, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main .search-results em {
  background: yellow !important;
  color: black !important;
}
/* line 120, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main .search-results .item {
  position: relative;
  padding: 3px 15px 10px;
  overflow: hidden;
}
/* line 124, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main .search-results .item .item-main {
  width: 100%;
}
/* line 126, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main .search-results .item .item-main .item-content-wrapper {
  padding: 0 !important;
}
/* line 128, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main .search-results .item .item-main .item-title-and-infos {
  float: inherit;
}
/* line 130, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main .search-results .item .item-main .item-title-and-infos h2 {
  font-size: 14px;
  margin-bottom: 4px;
}
/* line 133, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main .search-results .item .item-main .item-title-and-infos h2 a {
  color: black;
  text-decoration: none;
}
/* line 136, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main .search-results .item .item-main .item-title-and-infos .item-infos {
  line-height: 12px;
  white-space: nowrap;
}
/* line 139, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main .search-results .item .item-main .item-title-and-infos .item-infos > li {
  margin-right: 2px;
  border-left: 1px solid #cfcfcf;
  padding-left: 5px;
}
/* line 143, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main .search-results .item .item-main .item-title-and-infos .item-infos > li:first-child {
  padding-left: 0;
  border: none;
}
/* line 146, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main .search-results .item .item-main .item-title-and-infos .item-infos i, .main .search-results .item .item-main .item-title-and-infos .item-infos span, .main .search-results .item .item-main .item-title-and-infos .item-infos a {
  font-size: 10px;
  color: dimgray;
}
/* line 149, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main .search-results .item .item-main .item-title-and-infos .item-infos i {
  display: none;
  color: #b5b5b5;
}
@media screen and (max-width: 480px) {
  /* line 153, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
  .main .search-results .item .item-main .item-title-and-infos .item-infos .hit-link {
    display: none;
  }
}
/* line 155, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main .search-results .item .item-main .item-title-and-infos h2, .main .search-results .item .item-main .item-title-and-infos .item-infos {
  float: inherit;
  display: block;
}
/* line 158, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main .search-results .item .item-main .item-actions {
  display: none;
}
/* line 160, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main .search-results .item .item-main .text-container {
  padding: 10px 0 0 10px;
  max-width: 800px;
  color: black;
}
/* line 165, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main .search-results .item-fixed .item-main {
  background: #f6f6ef;
  top: 102px;
}
@media screen and (min-width: 1200px) {
  /* line 165, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
  .main .search-results .item-fixed .item-main {
    width: 80%;
    right: 10%;
    left: 10%;
  }
}
@media screen and (max-width: 1200px) {
  /* line 165, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
  .main .search-results .item-fixed .item-main {
    width: 100%;
    right: 0;
    left: 0;
  }
}
/* line 177, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main .search-results .item-absolute-bottom .item-main {
  background: #f6f6ef;
  right: 0;
  left: 0;
}
/* line 183, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main .search-results .list-item-comments {
  padding-left: 10px;
}
/* line 186, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main .search-results .list-item-comments .item-comments span, .main .search-results .list-item-comments .item-comments a {
  color: black;
}
/* line 188, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.main .search-results .no-results {
  width: auto;
}

/* line 191, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.edit-settings {
  padding-top: 60px;
}
/* line 193, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.edit-settings fieldset {
  border: none;
  border-top: solid 1px #ccc;
  background-color: transparent;
}
/* line 197, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.edit-settings h2 {
  font-size: 16px;
  margin-bottom: 0;
}

/* line 202, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
#datepicker {
  background: rgba(246, 246, 239, 0.8);
  top: 42px;
}

/* line 206, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.wrap-dd-select {
  line-height: 24px;
}

/* line 210, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
.page h3 {
  color: black;
}

/* line 213, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
footer {
  background: white;
  padding: 10px 0 30px 0;
}
/* line 216, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/default.css.sass */
footer, footer a {
  font-size: 13px;
  color: black;
}
