/* line 7, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
h1, h2, h3, h4, h5 {
  font-weight: 200;
}

/* line 10, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
html, body {
  height: 100%;
  color: #9d9d9d;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

@media screen and (min-width: 1200px) {
  /* line 16, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1200px) {
  /* line 16, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  /* line 16, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
  .container {
    width: 100%;
  }
}

/* line 25, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
.page-header {
  position: fixed;
  z-index: 15;
  height: 100px;
}
@media screen and (min-width: 1200px) {
  /* line 25, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
  .page-header {
    width: 1200px;
  }
}
@media screen and (max-width: 1200px) {
  /* line 25, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
  .page-header {
    width: 100%;
  }
}
/* line 33, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
.small-header .page-header {
  height: 60px;
  padding: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 37, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
.page-header .logo-wrapper {
  float: left;
  width: 230px;
}
@media screen and (max-width: 768px) {
  /* line 37, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
  .page-header .logo-wrapper {
    width: 70px;
  }
  /* line 42, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
  .small-header .page-header .logo-wrapper {
    width: 60px;
  }
}
/* line 44, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
.page-header .search-wrapper {
  float: left;
  width: calc(90% - 230px);
}
@media screen and (max-width: 768px) {
  /* line 44, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
  .page-header .search-wrapper {
    width: calc(100% - 100px);
  }
}
@media screen and (max-width: 480px) {
  /* line 44, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
  .page-header .search-wrapper {
    width: calc(100% - 70px);
  }
}
/* line 51, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
.page-header .nav-link-settings {
  position: absolute;
  top: 35px;
  right: 20px;
}
/* line 55, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
.small-header .page-header .nav-link-settings {
  top: 17px;
}

/* line 58, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
.sidebar {
  width: 200px;
  z-index: 5;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 100px;
  bottom: 0px;
  left: 0px;
}
@media screen and (min-width: 1200px) {
  /* line 58, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
  .sidebar {
    left: 50%;
    margin-left: -600px;
  }
}
@media screen and (max-width: 1200px) {
  /* line 58, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
  .sidebar {
    left: 0;
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  /* line 58, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
  .sidebar {
    -webkit-transform: translateX(-220px);
    -moz-transform: translateX(-220px);
    -ms-transform: translateX(-220px);
    -o-transform: translateX(-220px);
    transform: translateX(-220px);
  }
}
/* line 72, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
.sidebar.is-visible {
  width: 100%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  position: fixed;
  top: 152px;
  right: 0px;
  bottom: auto;
  left: 0px;
}

/* line 80, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
.small-header .main .sidebar.is-visible {
  position: fixed;
  top: 112px;
  right: 0px;
  bottom: auto;
  left: 0px;
}

/* line 84, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
.main {
  float: left;
  position: relative;
  width: 100%;
  margin-top: 100px;
  padding: 78px 0 0 200px;
}
@media screen and (max-width: 768px) {
  /* line 84, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
  .main {
    padding: 78px 0 50px;
  }
}
/* line 92, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
.main header {
  font-size: 13px;
  position: fixed;
  top: 100px;
  z-index: 5;
  height: 77px;
}
@media screen and (min-width: 1200px) {
  /* line 92, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
  .main header {
    left: 50%;
    margin-left: -400px;
    width: 1000px;
  }
}
@media screen and (max-width: 1200px) {
  /* line 92, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
  .main header {
    left: 0;
    margin-left: 200px;
    width: calc( 100% - 200px);
  }
}
@media screen and (max-width: 768px) {
  /* line 92, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
  .main header {
    width: 100%;
    margin-left: 0;
  }
}
/* line 109, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
.main header .date-range-filter {
  position: absolute;
  top: 28px;
  right: 15px;
}
/* line 111, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
.small-header .main {
  margin-top: 60px;
}
/* line 113, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
.small-header .main header {
  top: 60px;
}
/* line 115, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
.small-header .main .sidebar {
  top: 60px;
}
/* line 118, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
.small-header .main .item-fixed .item-main {
  top: 137px;
}

/* line 122, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
.item-main {
  min-height: 75px;
  padding: 0 30px;
  background: white;
}
@media screen and (min-width: 1200px) {
  /* line 122, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
  .item-main {
    width: 1000px;
  }
}
@media screen and (max-width: 1200px) {
  /* line 122, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
  .item-main {
    width: 100%;
  }
}
/* line 130, /Users/jonasbadalic/Work/hn-search/app/assets/stylesheets/themes/experimental.css.sass */
.item-main .item-content-wrapper {
  padding: 10px 100px 10px 0;
}
