%a.sliding-menu-button{type:'button', 'ng-click'=>'toggleNav()'}
  %i.icon-bars

%span{'ng-show' => 'state'}
  %h1 {{ pageTitle() }}
%span.filter-label in
%span{'ng-show' => '!state'} Search
.type-dropdown{"dropdown-select"=>"ddSelectType", "dropdown-model"=>"ddTypeSelected", "dropdown-item-label"=>"text", "dropdown-onchange" => "selectType(selected)"}
%span.filter-label by
.type-dropdown{"dropdown-select"=>"ddSelectSort", "dropdown-model"=>"ddSortSelected", "dropdown-item-label"=>"text", "dropdown-onchange" => "sortBy(selected.value)"}
%span.filter-label for
.type-dropdown{"dropdown-select"=>"ddSelectDate", "dropdown-model"=>"ddDateSelected", "dropdown-item-label"=>"text", "dropdown-onchange" => "selectDate(selected.value)"}

%ul.list-inline.search-infos{'ng-show' => 'results', "defer-share-dropdown"=>true}
  %li
    %span{'ng-show' => 'settings.page > 0'} Page {{ settings.page + 1 }} of
    %ng-pluralize{count: 'results.nbHits', when: '{"0": "No results", "one": "1 result", "other": "{{ results.nbHits | number }} results"}'}
    ({{ results.processingTimeMS / 1000.0 | number }} seconds)
  %li.action-share
    %a.placeholder
      %i.icon-share
    %a.dropwdown-share{'ng-href' => '{{ getURL() }}', "dropdown-menu"=>"ddMenuShare", "dropdown-onchange"=>"shareItem(selected)"}
      %i.icon-share

%div{'ng-include' => '"_daterange-picker.html"', 'ng-if' => 'settings.dateRange === "custom" && (!settings.dateStart || !settings.dateEnd)'}
