.search-wrapper
  .type-select{"dropdown-select"=>"ddSelectOptions", "dropdown-model"=>"ddSelectSelected", "dropdown-item-label"=>"text"}
  %hnsearch{placeholder:"Story, author, comment", "min-length"=>"0", model:"results", source:"getSearch(query)"}
%span.powered-by
  powered by
  %a{href: 'http://www.algolia.com/?utm_source=hn_search&utm_medium=link&utm_term=discover&utm_campaign=hn_algolia', title: 'Realtime Search Engine'}
    = image_tag "algolia.jpg"