%nav.navigation
  %ul.list-inline
    %li Sort by:
    %li{'ng-class' => '{active: settings.sort === "byPopularity"}', 'ng-click' => 'sortBy("byPopularity")'}
      Popularity
    %li{'ng-class' => '{active: settings.sort === "byDate"}', 'ng-click' => 'sortBy("byDate")'}
      Date
%button
  %i.icon-settings.js-menu-trigger.sliding-menu-button
