%hnsearch
%span.powered-by
  by
  %a{'ng-if'=>'settings.style == "experimental"', href: 'https://www.algolia.com/?utm_source=hn_search&utm_medium=link&utm_term=logo_experimental&utm_campaign=hn_algolia', title: 'Realtime Search Engine'}
    = image_tag "algolia.jpg"
  %a{'ng-if'=>'settings.style == "default"', href: 'https://www.algolia.com/?utm_source=hn_search&utm_medium=link&utm_term=logo&utm_campaign=hn_algolia', title: 'Realtime Search Engine'}
    = image_tag "algolia.png"
