%aside.sidebar
  %ul
    %li
      %a{href:"/", 'active-link' => true, 'ng-click' => 'gotoMenu($event, "/")'}
        %i.icon-news
        All
    %li
      %a{href:"/hot", 'active-link' => true, 'ng-click' => 'gotoMenu($event, "/hot")'}
        %i.icon-fire
        Hot
    %li
      %a{href:"/show-hn", 'active-link' => true, 'ng-click' => 'gotoMenu($event, "/show-hn")'}
        %i.icon-megaphone
        Show HN
    %li
      %a{href:"/ask-hn", 'active-link' => true, 'ng-click' => 'gotoMenu($event, "/ask-hn")'}
        %i.icon-bubble
        Ask HN
    %li
      %a{href:"/polls", 'active-link' => true, 'ng-click' => 'gotoMenu($event, "/polls")'}
        %i.icon-bulb
        Polls
    %li
      %a{href:"/jobs", 'active-link' => true, 'ng-click' => 'gotoMenu($event, "/jobs")'}
        %i.icon-banknote
        Jobs
    %li.divider
    %li{'ng-if' => 'settings.login'}
      %a{href:"/user", 'active-link' => true, 'ng-click' => 'gotoMenu($event, "/user")'}
        %i.icon-user
        {{ settings.login }}
    %li
      %a{href:"/starred", 'active-link' => true, 'ng-click' => 'gotoMenu($event, "/starred")'}
        %i.icon-star
        Starred
    %li.settings{'ng-show' => 'results || isSettings'}
      %a{'ng-href' => '/settings?{{ settings.style === "experimental" ? "experimental" : "" }}', 'active-link' => true}
        %i.icon-settings
        Settings
