%section.page
  %p We love <a href="https://news.ycombinator.com">Hacker News</a> and apps based on it. If you're building an app based on our API, please <a href="https://github.com/algolia/hn-search/pulls">let us know</a>!


  %h3 Web
  %ul
    %li <a href="http://www.ryan-williams.net/hacker-news-hiring-trends/">Hacker News Tech Hiring Trends </a> - Monthly update of what's popular in programming languages, development frameworks and technologies as posted in "whoishiring" threads.
    %li <a href="http://hn.premii.com">hn.premii.com</a> - Mobile web app
    %li <a href="http://hnpaper.forge.partlab.io">HNPaper</a> - Yet another Hacker News Search
    %li <a href="http://hnrss.org">hnrss.org</a> - Custom, realtime Hacker News RSS feeds


  %h3 Chrome Extensions
  %ul
    %li <a href="https://chrome.google.com/webstore/detail/hacker-news-discussion/iggcipafbcjfofibfhhelnipahhepmkd">Hacker News discussion</a>, a Chrome extension linking to comments on Hacker News for the current page.
    %li <a href="https://chrome.google.com/webstore/detail/hacker-news-duplicate-det/ocagpmnfhgbgmbaaimpehpbnnplkmpkd">Hacker News Duplicate Detector</a>, a Chrome extension linking to duplicate Hacker News posts.
    %li <a href="https://chrome.google.com/webstore/detail/hacker-news-sidebar/ngljhffenbmdjobakjplnlbfkeabbpma">Hacker News sidebar</a>, a Chrome extension that displays comments for the current page in a pullout sidebar.
    %li <a href="https://chrome.google.com/webstore/detail/social-meter/eelhfeamoijglbkgkkfddgkngokfabde">Social Meter</a>, a Chrome extension that shows social media interactions of every individual webpage (Hacker News, Facebook, Google+, ...).


  %h3 Firefox Extensions
  %ul
    %li <a href="https://addons.mozilla.org/en-US/firefox/addon/hacker-news-reader/">Hacker News Reader</a>, a Mozilla Firefox browser add-on that has a radically new interface which combines visual density with a clean design.

  %h3 iOS Apps
  %ul
    %li <a href="https://itunes.apple.com/app/hacker-news-yc/id713733435?mt=8">Hacker News (YC) for Mobile/Tablet</a>


  %h3 Android Apps
  %ul
    %li <a href="https://play.google.com/store/apps/details?id=com.premii.hn">Hacker News (YC) for Mobile/Tablet</a>
    %li <a href="https://play.google.com/store/apps/details?id=com.leavjenn.hews"> Hews for Hacker News</a>
    %li <a href="https://play.google.com/store/apps/details?id=io.github.hidroh.materialistic">Materialistic - Hacker News</a>
    %li <a href="https://play.google.com/store/apps/details?id=au.com.timmutton.yarn"> Yarn for Hacker News</a>

  %h3 Newsletters
  %ul
    %li <a href="https://hnmail.io">HN Mail</a> - A customizable weekly newsletter service for Hacker News based on topics.
