%section.search-results
  .item{"ng-repeat"=>"hit in results.hits", 'ng-class' => '"item_" + hit.objectID'}
    .item-main
      %img.item-thumbnail{'ng-show' => 'settings.showThumbnails && settings.category !== "ask-hn" && settings.category !== "polls"',"img-preload"=>true, "ng-src"=>"https://drcs9k8uelb9s.cloudfront.net/{{hit.objectID}}.png"}
      .item-title-and-infos
        %h2
          %a{"ng-href"=>"{{hit.url}}", "ng-bind-html"=>"hit._highlightResult.title.value"}
        %ul.item-infos.list-inline
          %li
            %i.icon-head
            %span.author {{hit.author}}
          %li
            %i.icon-heart
            %span.date {{hit.points}} points
          %li
          %li
            %a.hit-link{"ng-if"=>"hit.url", "ng-href"=>"{{hit.url}}"}
              %i.icon-link
              {{hit.url|domain}}
      .item-actions.pull-right
        %ul.list-inline
          %li.action-toggle-comments{'ng-show' => 'settings.category != "jobs"'}
            %i.icon-speech-bubble
            %a{href:"#", "ng-click"=>"loadComments(hit.objectID, $event)", 'ng-if' => 'hit.num_comments > 0'}
              %ng-pluralize{count:"hit.num_comments", when:"{'one': '1 comment','other': '{} comments'}"}
            %span{'ng-if' => 'hit.num_comments == 0'} no comment
          %li.action-share
            %a{href: '#'}
              %i.icon-share
          %li.action-toggle-star
            %a{href: '#', 'ng-click' => 'toggleStar($event, hit.objectID)', 'ng-class' => '{ "starred": isStarred(hit.objectID) }'}
              %i.icon-star
    %ul.list-item-comments{"ng-show"=>"story[hit.objectID]"}
      %li.item-comments{"ng-repeat"=>"comment in story[hit.objectID].comments.children", "ng-if"=>"comment.author"}
        %span.author
          %avatar{author:"comment.author"}
          {{comment.author}} -
        %a.date{'ng-href' => 'https://news.ycombinator.com/item?id={{comment.story_id}}#up_{{comment.id}}'} {{comment.created_at_i | moment:'M/D/YYYY h:m A'}}
        .reply-container{"ng-bind-html"=>"comment.text|cleanup"}
        %collection{collection:"comment.children"}
  .no-results.text-center{'ng-show' => 'results.hits.length == 0 && settings.category == "starred" '}
    %p You don't have any starred items.
  .no-results{'ng-show' => 'results.hits.length == 0 && settings.category != "starred"'}
    %p
      Your search
      %span{'ng-show' => 'query'}- <strong>{{ query }}</strong> -
      did not match any results.
    %p Suggestions:
    %ul
      %li
        %a{href:"#"} Try different keywords.
      %li
        %a{href:"#"} Try larger date range.
      %li
        %a{href:"#"} Try different Type/Category.

  %ul.search-pagination{'ng-if' => 'results && results.nbPages > 1'}
    %li
      %button{'ng-click' => 'prevPage()', 'ng-hide' => 'settings.page == 0'} &laquo;
    %li{'ng-repeat' => 'n in getPages(results) track by $index', 'ng-class' => '{ "active": (n == settings.page) }'}
      %button{'ng-click' => 'toPage(n)', 'ng-show' => 'n !== "..."'} {{ n + 1 }}
      %button{disabled: true, 'ng-show' => 'n === "..."'} &hellip;
    %li
      %button{'ng-click' => 'nextPage()', 'ng-hide' => 'settings.page >= results.nbPages - 1'} &raquo;
