%section.search-results{'sticky-list' => true,"defer-share-dropdown"=>true}
  .item{"ng-repeat"=>"hit in results.hits", 'ng-class' => '"item_" + hit.objectID + (story[hit.objectID] ? " item-show-comments" : "")', 'bindonce' => true, 'ng-click' => 'clickHit(hit.objectID, $index + 1)'}
    .item-main
      .item-content-wrapper
        %a.item-thumbnail-link{'bo-if' => 'settings.showThumbnails && settings.style !== "default" && hit._tags[0] === "story" && state !== "ask-hn" && state !== "polls"', "ng-href"=>"{{hit.url}}"}
          %img.item-thumbnail{"img-preload"=>true, "ng-src"=>"https://drcs9k8uelb9s.cloudfront.net/{{hit.objectID}}.png".html_safe}
        .item-title-and-infos
          %h2
            %a{"bo-href"=>"hit.url || ('https://news.ycombinator.com/item?id=' + hit.objectID)", "bo-html"=>"hit._highlightResult.title.value", "bo-show" => "hit._tags[0] === 'story' || hit._tags[0] === 'poll' || hit._tags[0] === 'job'", 'ng-click' => 'gotoHit(hit.objectID)'}
            %a{"bo-href"=>"hit.story_url", "bo-html"=>"hit.story_title", "bo-if" => "hit._tags[0] === 'comment'"}
          %ul.item-infos.list-inline
            %li{'bo-show' => 'hit.points'}
              %i.icon-heart
              %a{'bo-href' => '"https://news.ycombinator.com/item?id=" + hit.objectID', title:'See original post on HN'}
                %span.date {{ ::hit.points }} points
            %li
              %i.icon-head
              %a{'bo-href' => '"https://news.ycombinator.com/user?id=" + hit.author', title:'See {{ ::hit.author }} profile'.html_safe}
                %span.author{'bo-html' => 'hit._highlightResult.author.value'}
            %li
              %i.icon-clock
              %a{'bo-href' => '"https://news.ycombinator.com/item?id=" + (hit._tags[0] === "comment" ? hit.story_id + "#" + hit.objectID : hit.objectID)', title:'{{ ::hit.created_at }}'.html_safe}
                %span.date {{ ::hit.created_at_i | moment }}
            %li{'bo-show' => 'settings.style === "default"'}
              %i.icon-speech-bubble
              %a{'bo-href' => '"https://news.ycombinator.com/item?id=" + hit.objectID', title:'See original post on HN'}
                %span.comments {{ ::hit.num_comments }} comment<span bo-show="hit.num_comments != 1">s</span>
            %li{'bo-show' => 'hit.url'}
              %a.hit-link{"bo-href"=>"hit.url", 'bo-html' => 'hit._highlightResult.url.value | domain'}
        .text-container{"bo-html"=>"hit._highlightResult.comment_text.value|cleanup", 'bo-show' => 'hit.comment_text && hit._tags[0] === "comment"'}
        .text-container{"bo-html"=>"hit._highlightResult.story_text.value|cleanup", 'bo-show' => 'hit.story_text && (hit._tags[0] === "story" || hit._tags[0] === "job")'}
      .item-actions{'bo-show' => 'hit._tags[0] === "story" || hit._tags[0] === "poll" || hit._tags[0] === "job"'}
        %ul.list-inline
          %li.action-toggle-comments{'bo-show' => 'state != "jobs"'}
            /%i.icon-speech-bubble
            %a.comments-bubble{'bo-href' => '"/story/" + hit.objectID + "/" + friendly(hit.title)', "ng-click"=>"loadComments(hit.objectID, $event)", 'bo-show' => 'hit.num_comments > 0'}
              /{{ ::hit.num_comments }} comment<span bo-show="hit.num_comments != 1">s</span>
              {{ ::hit.num_comments }}
            /%span{'bo-show' => 'hit.num_comments == 0'} no comment
            %span.comments-bubble.no-comments{'bo-show' => 'hit.num_comments == 0'} 0
          %li.action-share
            %a.placeholder
              %i.icon-share
            %a.dropwdown-share{'bo-href' => '"/story/" + hit.objectID + "/" + friendly(hit.title)',"dropdown-menu"=>"ddMenuShare", "dropdown-onchange"=>"shareItem(selected, hit)"}
              %i.icon-share
          %li.action-toggle-star{'bo-show' => 'state != "jobs"'}
            %a{href: '#', 'ng-click' => 'toggleStar($event, hit.objectID)', 'ng-class' => '{ "starred": isStarred(hit.objectID) }'}
              %i.icon-star
    %ul.list-item-comments{"ng-if"=>"story[hit.objectID]"}
      %li.item-comments{"ng-repeat"=>"comment in story[hit.objectID].comments.children"}
        %span.author
          %avatar{author:"comment.author"}
          %a{'ng-href' => 'https://news.ycombinator.com/user?id={{ comment.author }}', 'ng-title' => 'See {{ reply.author }} profile'}
            {{comment.author || "deleted"}}
        %span{'ng-if' => 'comment.created_at'}
          \-
          %a.date{'ng-href' => 'https://news.ycombinator.com/item?id={{comment.story_id}}#{{comment.id}}', title: '{{ comment.created_at }}'.html_safe} {{ ::comment.created_at_i | moment:'M/D/YYYY h:m A' }}
        .reply-container{"ng-bind-html"=>"comment.text|cleanup"}
        %collection{collection:"comment.children"}
    .item-clearfix
  .no-results.text-center{'ng-show' => 'results.hits.length == 0 && state == "starred" && settings.dateRange == "all" '}
    %p You don't have any starred items.
  .no-results.text-center{'ng-show' => 'results.hits.length == 0 && state == "starred" && settings.dateRange != "all"'}
    %p You don't have any starred items <strong>for this period</strong>.
  .no-results{'ng-show' => 'results.hits.length == 0 && state != "starred"'}
    %p
      No
      %strong{'ng-show' => 'settings.type === "all"'} items
      %strong{'ng-show' => 'settings.type === "story"'} stories
      %strong{'ng-show' => 'settings.type === "comment"'} comments
      %span{'ng-show' => 'state == "user" '} by <strong><code>{{settings.login}}</code></strong>
      %span{'ng-show' => 'query'}
        matching
        %strong
          %span{'ng-show' => 'state === "ask-hn"'} Ask HN:
          %span{'ng-show' => 'state === "show-hn"'} Show HN:
          %span{'ng-show' => 'state === "jobs"'} Jobs:
          %span{'ng-show' => 'state === "polls"'} Polls:
          %span{'ng-show' => 'state === "hot"'} Hot:
          {{ query }}
      %span{'ng-show' => 'settings.dateRange !== "all"'}
        in the
        %strong{'ng-show' => 'settings.dateRange === "last24h"'} last 24 hours
        %strong{'ng-show' => 'settings.dateRange === "pastWeek"'} past week
        %strong{'ng-show' => 'settings.dateRange === "pastMonth"'} past month
        %strong{'ng-show' => 'settings.dateRange === "pastYear"'} past year
    %div{'ng-show' => 'query || settings.dateRange !== "all" || settings.type !== "all"'}
      %p Suggestions:
      %ul
        %li{'ng-show' => 'query'}
          %a{href:'#', 'ng-click' => 'selectInput($event)'} Try different keywords.
        %li{'ng-show' => 'settings.dateRange !== "all"'}
          %a{href:'#', 'ng-click' => 'widerDateRange($event)'} Try a wider date range.
        %li{'ng-show' => 'settings.type !== "all"'}
          %a{href:'#', 'ng-click' => 'searchAllItems($event)'}
            Search also for&nbsp;
            %span{'ng-if' => 'settings.type === "story"'}> comments
            %span{'ng-if' => 'settings.type === "comment"'}> stories
            \.
      .spacer2
      %p
        Or try popular queries:
        %br
        %span{'ng-repeat' => 'p in populars', bindonce: true}
          %span{'ng-show' => '$index !== 0'}>,&nbsp;
          %a{href: '#', 'ng-click' => 'setQuery($event, p.query)'}>{{ p.query }}


  %ul.search-pagination{'ng-if' => 'results && results.nbPages > 1'}
    %li
      %button{'ng-click' => 'prevPage()', 'ng-hide' => 'settings.page == 0'}
        %i.icon-rewind
    %li{'ng-repeat' => 'n in getPages(results) track by $index', 'ng-class' => '{ "active": (n == settings.page) }'}
      %button{'ng-click' => 'toPage(n)', 'ng-show' => 'n !== "..."'} {{ n + 1 }}
      %button{disabled: true, 'ng-show' => 'n === "..."'}
        %i.icon-ellipsis
    %li
      %button{'ng-click' => 'nextPage()', 'ng-hide' => 'settings.page >= results.nbPages - 1'}
        %i.icon-fast-forward

%a.scroll-to-top.fade{title:'Back to top', href:'#'}
  %span.tooltip
    %span Top [↑]
