.container
  %header.page-header
    .col-1
      .logo
        %img{src:"/assets/logo-hn-search.png"}
        %span.logo-name
          Search
          %br
          Hacker News
    .col-2
      %nav.navigation
        %ul.list-inline
          %li{'ng-class' => '{active: settings.sort === "byPopularity"}', 'ng-click' => 'sortBy("byPopularity")'}
            Most Popular
          %li{'ng-class' => '{active: settings.sort === "byDate"}', 'ng-click' => 'sortBy("byDate")'}
            Most Recent
    .col-3
      %hnsearch.search-wrapper{placeholder:"Search a story", "min-length"=>"0", model:"results", source:"getSearch(query)"}
.container
  %aside.sidebar
    %ul
      %li
        %a{href:"#/", 'active-link' => true}
          %i.icon-news
          All
      %li
        %a{href:"#/show-hn", 'active-link' => true}
          %i.icon-megaphone
          Show HN
      %li
        %a{href:"#/ask-hn", 'active-link' => true}
          %i.icon-bulb
          Ask HN
      %li
        %a{href:"#/jobs", 'active-link' => true}
          %i.icon-wallet
          Jobs
      %li.divider
      %li
        %a{href:"#/starred", 'active-link' => true}
          %i.icon-star
          Starred
      %li
        %a{href:"#/hot", 'active-link' => true}
          %i.icon-fire
          Hot

  %section.main
    %header
      %button.btn-refresh
        %i.icon-settings
      %h1 {{ categoryTitle() }}
      %small.search-infos{'ng-show' => 'results'}
        %ng-pluralize{count: 'results.nbHits', when: '{"0": "No results", "one": "1 result", "other": "{{ results.nbHits | number }} results"}'}
        in {{ results.processingTimeMS | number }} ms
      .date-range-filter
        %ul.list-inline
          %li
            %input#range-1.radio{"ng-model"=>"settings.dateRange", name:"date-range", type:"radio", value:"last24h"}
            %label{for:"range-1"} Last 24h
          %li
            %input#range-2.radio{"ng-model"=>"settings.dateRange", name:"date-range", type:"radio", value:"pastWeek"}
            %label{for:"range-2"} Past week
          %li
            %input#range-3.radio{"ng-model"=>"settings.dateRange", name:"date-range", type:"radio", value:"pastMonth"}
            %label{for:"range-3"} Past month
          %li
            %input#range-4.radio{"ng-model"=>"settings.dateRange", name:"date-range", type:"radio", value:"all"}
            %label{for:"range-4"} Forever
    %section.search-results
      .item{"ng-repeat"=>"hit in results.hits", "ng-click"=>"loadComments(hit)"}
        / %img{"ng-src"=>"https://drcs9k8uelb9s.cloudfront.net/{{hit.objectID}}.png"}
        %h2{"ng-bind-html"=>"hit._highlightResult.title.value"}
        %a.hit-link{"ng-href"=>"{{hit.url}}"} {{hit.url|domain}}
        %i.icon-user
        %span.author{"ng-style"=>"{color:'{{hit.author|color}}'}"} {{hit.author}}
        %i.icon-clock
        %span.date {{hit.created_at_i | moment:'M/D/YYYY h:m A'}}
        %i.icon-bubble
        %span.date {{hit.num_comments}} comments
        %ul.list-item-comments{"ng-show"=>"story[hit.objectID]"}
          %li.item-comments{"ng-repeat"=>"comment in story[hit.objectID].comments.children", "ng-if"=>"comment.author"}
            %span.author{"ng-style"=>"{color:'{{comment.author|color}}'}"} {{comment.author}} -
            %span.date {{comment.created_at_i | moment:'M/D/YYYY h:m A'}}
            .reply-container{"ng-bind-html"=>"comment.text"}
            %collection{collection:"comment.children"}
