%section.search-results{'sticky-list' => true}
  .item{"ng-repeat"=>"hit in results.hits", 'ng-class' => '"item_" + hit.objectID'}
    .item-main
      %a.item-thumbnail-link{'ng-if' => 'settings.showThumbnails && hit._tags[0] === "story"  && state !== "ask-hn" && state !== "polls"', "ng-href"=>"{{hit.url}}"}
        %img.item-thumbnail{"img-preload"=>true, "ng-src"=>"https://drcs9k8uelb9s.cloudfront.net/{{hit.objectID}}.png"}
      .item-title-and-infos
        %h2
          %a{"ng-href"=>"{{hit.url}}", "ng-bind-html"=>"hit._highlightResult.title.value", "ng-if" => "hit._tags[0] === 'story' || hit._tags[0] === 'poll' || hit._tags[0] === 'job'"}
          %a{"ng-href"=>"{{hit.story_url}}", "ng-bind-html"=>"hit.story_title", "ng-if" => "hit._tags[0] === 'comment'"}
        %ul.item-infos.list-inline
          %li
            %i.icon-head
            %a{'ng-href' => 'https://news.ycombinator.com/user?id={{hit.author}}', title:'See {{hit.author}} profile'}
              %span.author {{hit.author}}
          %li{'ng-show' => 'hit.points'}
            %i.icon-heart
            %a{'ng-href' => 'https://news.ycombinator.com/item?id={{hit.objectID}}', title:'See original post on HN'}
              %span.date {{hit.points}} points
          %li
            %i.icon-clock
            %a{'ng-href' => 'https://news.ycombinator.com/item?id={{hit._tags[0] === "comment" ? hit.story_id + "#up_" + hit.objectID : hit.objectID}}', title:'{{hit.created_at}}'}
              %span.date {{hit.created_at_i|moment}}
          %li
            %a.hit-link{"ng-if"=>"hit.url", "ng-href"=>"{{hit.url}}"}
              {{hit.url|domain}}
      .item-actions.pull-right{'ng-show' => 'hit._tags[0] === "story" || hit._tags[0] === "poll" || hit._tags[0] === "job"'}
        %ul.list-inline
          %li.action-toggle-comments{'ng-show' => 'state != "jobs"'}
            %i.icon-speech-bubble
            %a{href:"#", "ng-click"=>"loadComments(hit.objectID, $event)", 'ng-if' => 'hit.num_comments > 0'}
              %ng-pluralize{count:"hit.num_comments", when:"{'one': '1 comment','other': '{} comments'}"}
            %span{'ng-if' => 'hit.num_comments == 0'} no comment
          %li.action-share
            %a.dropwdown-share{href:'FIXME:THIS_PAGE_URL_WITH_FOCUS_ON_THIS_ITEM',"dropdown-menu"=>"ddMenuShare", "dropdown-onchange"=>"shareItem(selected, hit.objectID)"}
              %i.icon-share
          %li.action-toggle-star
            %a{href: '#', 'ng-click' => 'toggleStar($event, hit.objectID)', 'ng-class' => '{ "starred": isStarred(hit.objectID) }'}
              %i.icon-star
      .text-container{"ng-bind-html"=>"hit._highlightResult.comment_text.value|cleanup", 'ng-show' => 'hit.comment_text && hit._tags[0] === "comment"'}
      .text-container{"ng-bind-html"=>"hit._highlightResult.story_text.value|cleanup", 'ng-show' => 'hit.story_text && hit._tags[0] === "story"'}
    %ul.list-item-comments{"ng-show"=>"story[hit.objectID]"}
      %li.item-comments{"ng-repeat"=>"comment in story[hit.objectID].comments.children", "ng-if"=>"comment.author"}
        %span.author
          %avatar{author:"comment.author"}
          {{comment.author}} -
        %a.date{'ng-href' => 'https://news.ycombinator.com/item?id={{comment.story_id}}#up_{{comment.id}}'} {{comment.created_at_i | moment:'M/D/YYYY h:m A'}}
        .reply-container{"ng-bind-html"=>"comment.text|cleanup"}
        %collection{collection:"comment.children"}
  .no-results.text-center{'ng-show' => 'results.hits.length == 0 && state == "starred" '}
    %p You don't have any starred items.
  .no-results{'ng-show' => 'results.hits.length == 0 && state != "starred"'}
    %p
      Your search
      %span{'ng-show' => 'query'}- <strong>{{ query }}</strong> -
      did not match any results.
    %p Suggestions:
    %ul
      %li
        %a{href:"#"} Try different keywords.
      %li
        %a{href:"#"} Try larger date range.
      %li
        %a{href:"#"} Try different Type/Category.

  %ul.search-pagination{'ng-if' => 'results && results.nbPages > 1'}
    %li
      %button{'ng-click' => 'prevPage()', 'ng-hide' => 'settings.page == 0'} &laquo;
    %li{'ng-repeat' => 'n in getPages(results) track by $index', 'ng-class' => '{ "active": (n == settings.page) }'}
      %button{'ng-click' => 'toPage(n)', 'ng-show' => 'n !== "..."'} {{ n + 1 }}
      %button{disabled: true, 'ng-show' => 'n === "..."'} &hellip;
    %li
      %button{'ng-click' => 'nextPage()', 'ng-hide' => 'settings.page >= results.nbPages - 1'} &raquo;

%a.scroll-to-top.fade{title:'Back to top', href:'#'}
  %span.tooltip
    %span Top [↑]
