.container
  %header.page-header
    .col-1{'ui-view' => 'col-1'}
      %a.logo{href: '/', 'ng-click' => 'reset()'}
        %img{src:"/assets/logo-hn-search.png"}
        .logo-name
          Search
          %br
          Hacker News
    .col-2{'ui-view' => 'col-2'}
    .col-3{'ui-view' => 'col-3'}
  %section.main
    %div{'ng-include' => '"_sidebar.html"'}
    %header{'ui-view' => 'main-header'}
    %section.main-content{'ui-view' => 'main-content'}
    %footer
      %ul.list-inline
        %li
          %a{href: '/about'} About
        %li
          •
        %li
          %a{href: '/settings'} Settings
        %li
          •
        %li
          %a{href: '/help'} Help
        %li
          •
        %li
          %a{href: '/api'} API
        %li
          •
        %li
          %a{href: 'https://news.ycombinator.com'} Hacker News
        %li
          •
        %li
          %a{href: 'https://github.com/algolia/hn-search'} Fork/Contribute
        %li
          •
        %li
          %a{href: 'http://status.algolia.com/hn'} Status
        %li
          •
        %li
          %a{href: '/cool_apps'} Cool apps
