.container
  %header.page-header
    .col-1{'ui-view' => 'col-1'}
      %a.logo{href: '#/', 'ng-click' => 'resetQuery()'}
        %img{src:"/assets/logo-hn-search.png"}
        .logo-name
          Search
          %br
          Hacker News
    .col-2{'ui-view' => 'col-2'}
    .col-3{'ui-view' => 'col-3'}
  %section.main
    %div{'ng-include' => '"_sidebar.html"'}
    %header{'ui-view' => 'main-header'}
    %section{'ui-view' => 'main-content'}
    %footer
      %ul.list-inline
        %li
          %a{href: '#/about'} About
        %li
          •
        %li
          %a{href: '#/help'} Help
        %li
          •
        %li
          %a{href: 'https://github.com/algolia/hn-search'} GitHub
        %li
          •
        %li
          %a{href: 'http://status.algolia.com/hn'} Status
        %li
          •
        %li
          %a{href: '#/'} Search
        %li
          •
        %li
          %a{href: '#/cool_apps'} Cool apps
        %li
          •
        %li
          %a{href: '#/api'} API
