//LAYOUT
.container
  @include media($large-screen-up)
    width: $containerWidth
    margin: 0 auto
  @include media($large-screen-down)
    width: 100%

.page-header
  position: fixed
  z-index: 15
  height: $headerHeight
  @include media($large-screen-up)
    width: $containerWidth
  @include media($large-screen-down)
    width: 100%
  .small-header &
    height: $headerSmallHeight
    padding: 5px
    @include transition(all 0.5s ease)
  .col-1, .col-2, .col-3
    float: left
    min-height: 50px
  .col-1
    width: 22%
  .col-2
    width: 46%
  .col-3
    text-align: right
    width: 30%

.sidebar
  bottom: 30px
  left: 0
  width: $sidebarWidth
  position: fixed
  top: 100px
  @include media($medium-screen-down)
    display: none
  @include media($large-screen-up)
    left: 50%
    margin-left: - $containerWidth/2
  @include media($large-screen-down)
    left: 0
    margin-left: 0

.main
  float: left
  position: relative
  width: 100%
  margin-top: 100px
  padding: 78px 0 50px 200px
  @include media($medium-screen-down)
    padding: 78px 0 50px
  header
    position: fixed
    top: $headerHeight
    z-index: 5
    height: $titleHeight
    padding: 20px 30px
    @include media($large-screen-up)
      left: 50%
      margin-left: - $containerWidth/2 + $sidebarWidth
      width: $itemWidth
    @include media($large-screen-down)
      left: 0
      margin-left: $sidebarWidth
      width: calc( 100% - #{$sidebarWidth})
    @include media($medium-screen-down)
      width: 100%
      margin-left: 0
    .date-range-filter
      position: absolute
      right: 15px
      top: 28px
  .small-header & //small header
    margin-top: $headerSmallHeight
    header
      top: $headerSmallHeight
    .sidebar
      top: $headerSmallHeight
    .item-fixed
      .item-main
        top: $headerSmallHeight + $titleHeight


.item-main
  display: block
  min-height: $itemHeight
  padding: 20px 30px 0
  @include media($large-screen-up)
    width: $itemWidth
  @include media($large-screen-down)
    width: 100%


